* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
}

html {
    background-color: hsl(11, 26%, 24%);
    color: hsl(20, 16%, 93%);
    scroll-behavior: smooth;
}

@media all and (min-height: 850px) {
body {
    background-image: url(../icons/android-chrome-192x192.png);
    background-position: bottom right;
    background-repeat: no-repeat;
}
}


a,
a:visited,
a:active {
    text-decoration: none;
    color: hsl(36, 100%, 50%);
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
    justify-content: space-between;
}

h1 {
    margin: 0 0 10px;
    text-align: center;
    font-family: "bangersregular", sans-serif;
    font-size: 60px;
    text-shadow: 2px 3px 3px black;
}

label {
    font-weight: bold;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    min-width: 242px;
    margin: 0 auto;
}

input[type="number"],
select {
    margin-top: 10px;
    border: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0 3px 0 0 #FF8F00;
    color: #662f17;
    background-color: white;
}

button {
    background-color: #ba6831;
    color: white;
    border: none;
    padding: 13px;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0 3px 0 0 #924321;
    font-weight: bold;
}

button:hover {
    background-color: #924321;
    box-shadow: 0 3px 0 0 #662f17;
}

button:active {
    background-color: #ba6831;
    box-shadow: 0 3px 0 0 #924321;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#error {
    color: red;
    text-align: center;
}
#output {
    background: hsla(11,26%,13%,1);
    margin: 0 -20px;
    padding: 0 20px;
    border: 1px solid #FFC107;
    border-width: 2px 0;
    /* opacity: 0.2; */
}
#output b {
    color: #FF5722;
}

#footer {
    margin: 20px 0 0;
    padding: 20px;
    text-align: center;
    font-size: 80%;
}

#description {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.input-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-element {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 47.5%;
}